.modal-bg {
	background: rgba(0, 0, 0, .65);
	inset: 0;
	overflow: auto;
	position: fixed;
	z-index: 1;
}

.modal-card {
    background-color: var(--dark);
	border-radius: 10px;
    margin: auto;
    inset: auto 0;
	width: 50%;
    position: fixed;
    overflow: auto;
    z-index: 2;
}

.modal-btn {
    position: absolute;
    top: calc(1.5rem);
    right: calc(1.5rem);
}

.modal-title {
    margin-bottom: 1rem;
}

.modal-body p {
    margin: 1rem auto;
    line-height: 1.5rem;
}